# PREETHA S
# USN- 21BTRCL078
# Advanced Machine Learning
# Lab Experiment 1
# Logistic Regression using Iris dataset

In [41]:
import warnings
warnings.filterwarnings('ignore')

In [42]:
import pandas as pd
from sklearn.impute import SimpleImputer
import numpy as np
from sklearn.preprocessing import LabelEncoder
df= pd.read_csv('Iris.csv')
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [43]:
le=LabelEncoder()
df['Species']=le.fit_transform(df['Species'])
df['Species']

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: Species, Length: 150, dtype: int32

In [44]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [45]:
Y=df['Species']
X=df.drop(['Id'], axis=1)
X_train, X_test, Y_train, Y_test=train_test_split(X,Y,test_size=0.2)
lr=LogisticRegression()
lr.fit(X_train, Y_train)

LogisticRegression()

In [46]:
from sklearn.metrics import accuracy_score
Y_pred1=lr.predict(X_test)
accuracy_score(Y_test, Y_pred1)

1.0