# EXPERIMENT 2
# SVM
# PREETHA S
# USN: 21BTRCL078

In [1]:
#70-30 training set and testing set
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
df=pd.read_csv('iris.csv')

In [3]:
y=df['Species']
x=df.drop(['Id','Species'],axis=1)
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x,y, test_size=0.3)

In [4]:
from sklearn.svm import SVC
svc=SVC(kernel='linear', C=1E10)
svc.fit(x_train, y_train)
y_pred=svc.predict(x_test)
y_pred=svc.predict(x_test)
svc.score(x_test,y_test)

0.9555555555555556

In [5]:
svc.support_vectors_

array([[4.5, 2.3, 1.3, 0.3],
       [5.1, 3.8, 1.9, 0.4],
       [5.1, 3.3, 1.7, 0.5],
       [4.8, 3.4, 1.9, 0.2],
       [4.9, 2.4, 3.3, 1. ],
       [6.7, 3. , 5. , 1.7],
       [6. , 2.7, 5.1, 1.6],
       [6.1, 2.6, 5.6, 1.4],
       [6. , 3. , 4.8, 1.8],
       [6. , 2.2, 5. , 1.5]])

In [8]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

                 precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00         9
Iris-versicolor       0.90      1.00      0.95        18
 Iris-virginica       1.00      0.89      0.94        18

       accuracy                           0.96        45
      macro avg       0.97      0.96      0.96        45
   weighted avg       0.96      0.96      0.96        45

In [9]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

cm=confusion_matrix(y_test,y_pred)
ac=accuracy_score(y_test, y_pred)
print(cm)
print(ac)

[[ 9  0  0]
 [ 0 18  0]
 [ 0  2 16]]
0.9555555555555556

# SUPPORT VECTOR REGRESSION

In [10]:
import pandas as pd
from sklearn.svm import SVR
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
df=pd.read_csv('Real estate.csv')
y=df.pop('Y house price of unit area')
df.head()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245

In [11]:
x=df.drop(['No'], axis=1)
x_train, x_test, y_train, y_test=train_test_split(x,y,test_size=0.2)
svr=SVR()
svr.fit(x_train,y_train)
y_pred=svr.predict(x_test)

In [12]:
from sklearn.metrics import r2_score
result=r2_score(y_test,y_pred)
print(result)

0.4523542611490945

In [17]:
#true returns MSE value, if false returns RMSE Value
from sklearn.metrics import mean_squared_error
result=mean_squared_error(y_test, y_pred, squared=False)
result1=mean_squared_error(y_test, y_pred, squared=True)
print(result)
print(result1)

9.528674255661647
90.79563307050904